

.shown {
    transform: translateY(74);
<<<<<<< HEAD
    z-index: 50
=======
    z-index: 50
>>>>>>> dev

}

.hidden {
    transform: translateY(-230);
    transition: all 1s ease-out;
    z-index: 0

}